@import './variables';
//Reset Css
*{
  margin: 0;
	padding: 0;
	border: 0;
}

.header {
	background-image: url('/src/assets/images/header-1920.png');
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 937px;
	width: 100%;
	
	&-logo{
		margin:159.5px auto 167.5px auto;
	}

	&-text{
		text-align: center;
		&-h1{
			color: $h1-color;
			font: $h1-desktop;
		}
		&-h2{
			color: $h1-color;
			font: $h2-desktop;
			font-weight: 400;
		}
	}
}

.briefcase {
	background-color: $primary-color;
	height: 482px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	position: relative;
	overflow: hidden;

	&-blue-icon{
		position: absolute;
		left: -168px;
		bottom: -28px;
  }

	&-title{
		color: $h2-color;
		font: $h2-desktop;
	}

	&-wrapper{
		border: 3px solid #ffffff;
		border-radius: 20px;
		display: flex;
		flex-direction: row;
		padding: 37px 64px;
		align-items: center;
		gap: 87px;
	}

	&-text-wrapper{
		white-space: wrap;
		width: 462px;
		text-align: left;
		color: #fff;
	}

	&-list{
		&-item{
			display: flex;
    	flex-wrap: nowrap;
    	align-items: center;
		}
		&-item::before{
				content: "";
				width: 10px;
				height: 10px;
				background-color: $quaternary-color;
				margin-right: 5px;
		}
	}


}