@import './variables';
//Reset Css
*{
  margin: 0;
	padding: 0;
	border: 0;
}

.header {
	background-image: url('/src/assets/images/header-1920.png');
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 937px;
	width: 100%;

	&-logo{
		margin:159.5px auto 167.5px auto;
	}

	&-text{
		text-align: center;
		&-h1{
			color: $h1-color;
			font: $h1-desktop;
		}
		&-h2{
			color: $h1-color;
			font: $h2-desktop;
			font-weight: 400;
		}
	}
}

.briefcase {
	background-color: $primary-color;
	height: 482px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	position: relative;
	overflow: hidden;

	&-blue-icon{
		position: absolute;
		left: -168px;
		bottom: -29px;
  }

	&-title{
		color: $h2-color;
		font: $h2-desktop;
	}

	&-wrapper{
		border: 3px solid #ffffff;
		border-radius: 20px;
		display: flex;
		flex-direction: row;
		padding: 37px 64px;
		align-items: center;
		gap: 87px;
	}

	&-text-wrapper{
		font-size: $p-desktop;
		white-space: normal;
		width: 462px;
		text-align: left;
		color: #fff;
	}

	&-list{
		&-item{
			display: flex;
    	flex-wrap: nowrap;
    	align-items: center;
		}
		&-item::before{
				content: "";
				width: 10px;
				height: 10px;
				background-color: $quaternary-color;
				margin-right: 5px;
		}
	}


}

.dropdown {
	display: flex;
	align-items: center;
	height: 993px;
	background-color: $senary-color;
	justify-content: center;
	position: relative;
	overflow: hidden;

	&-brown-icon{
		position: absolute;
		right: -168px;
		bottom: -60px;
  }

	&-title{
		font: $h2-desktop;
		color: $h2-color;
	}

	&-text{
		font-size: $p-desktop;
		color: #fff;
		white-space: normal;
		text-align: left;
	}

	&-wrapper{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 1107px;
		height: 100%;
		justify-content: space-evenly;
	}

	&-items-wrapper{
		display: flex;
		width: 100%;
		justify-content: space-between;
		position: relative;
	}



	&-item{
		position: relative;
		height: 500px;
		display: flex;
		flex-direction: column;
		&-btn{
			position: absolute;
			background-color: #ffffff;
			background-image: url("/src/assets/icons/icon-arrow-down.svg");
			background-repeat: no-repeat;
			height: 54px;
			width: 54px;
			border-radius: 100%;
			left: 50%;
			top: 47%;
			margin-left: -27px;
			padding: 10px;

		}
		&-text{
			box-sizing: border-box;
			position: absolute;
			background-color: $quaternary-color;
			font-size: 18px;
			color: $primary-color;
			height: calc(100% - 234px);
			width: 331px;
			bottom: 0;
			text-align: left;
			padding: 60px 20px 20px 20px;
			white-space: normal;
			line-height: 20px;
			border-bottom-left-radius: 20px;
			border-bottom-right-radius: 20px;

		}
		&-image{
			background-color: #fff;
			border-radius: 20px;
			padding: 42px 65px;
			height: 150px;
			width: 201px;
			border-bottom: $primary-color solid 40px;
			position: relative;
		}
	}


}

.about{
	height: 680px;
	width: 100%;
	background-color: $secondary-color;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

	&-title{
		font: $h3-desktop;
		color: $h3-color;
	}

	&-wrapper{
		width: 944px;
		height: 428px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	&-text{
		color: #fff;
		font-size: $p-desktop;
		line-height: 20px;
		white-space: normal;
		width: 406px;
		text-align: left;
	}

	&-image-container{
		position: relative;
		display: flex;
		align-items: center;
		overflow:visible;
	}

	&-blue-icon{
		position: absolute;
		top: -40px;
		left: -25px;
	}
	&-yellow-icon{
		position: absolute;
		bottom: -40px;
		right: -25px;
	}

	&-office{
		width: 462px;
		height: 362px;
	}
}

.interactive-circle{
	background-color: #ffffff;
	height: 1000px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

	&-text{
		width: 944px;
		text-align: left;
		white-space: normal;
		font-size: $p-desktop;
		color: $p-color;
	}

	&-wrapper{
		position: relative;
		display: flex;
		align-items: center;
	}

	&-inner-text{
		box-sizing: border-box;
		height: 300px;
		width: 300px;
		background-color: $quaternary-color;
		position: absolute;
		left: 50%;
		margin-left: -150px;
		top: 50%;
		margin-top: -150px;
		border-radius: 100%;
		text-align: center;
		font-size: 26px;
		border: solid #000000 3px;	
		white-space: normal;
		padding: 55px;
	}
}

.minus{
	background-color: $primary-color;
	background-image: url(/src/assets/icons/icon-minos.svg);
	background-repeat: no-repeat;
	background-position: center;
	width: 54px;
	height: 54px;
	border-radius: 100%;
	position: absolute;
	padding: 5px;
}

.plus{
	background-color: $senary-color;
	background-image: url(/src/assets/icons/icon-plus.svg);
	background-repeat: no-repeat;
	background-position: center;
	width: 54px;
	height: 54px;
	border-radius: 100%;
	position: absolute;
	padding: 5px;
}

#yellow-toggle{
	top: 16%;
	right: 45%;
	z-index: 1;
}
#gray-toggle{
	bottom: 14%;
	right: 7%;
	z-index: 1;
}
#red-toggle{
	bottom: 14%;
	left: 7%;
	z-index: 1;
}

.footer{
	height: 300px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $primary-color;
}


// Jquery Classes

.ativo{
	background-image: url("/src/assets/icons/icon-arrow-up.svg");
	background-color: $primary-color;
	background-repeat: no-repeat;
}

.yellow{
 background-color: $quaternary-color;
 color: #000;
}

.red{
	background-color: $tertiary-color,;
	color: #fff;
}

.gray{
	background-color: $quinary-color;
 color: #fff;
}

// Media Queryes 

//Smartphones 
@media (max-width: 320px){
	.header{
		background-image: url("/src/assets/images/header-360.png");
		height: 470px;
		justify-content: space-evenly;

		&-logo{
			margin: 0;
		}
		
		&-text{
			&-h1{
				font: $h1-mobile;
			}
			&-h2{
				font: $h2-mobile;
			}
		}
	}
	.briefcase{
		&-title{
			font: $h2-mobile;
			padding-bottom: 60px;
		}

		&-wrapper{
			flex-direction: column;
			gap: 15px;
			position: relative;
			box-sizing: border-box;
			width: 100%;
			padding: 5px;
			
		}
		&-wrapper img{
			position: absolute;
			top: -80px;
		}
		
		&-text-wrapper{
			width: 100%;
			box-sizing: border-box;
			padding-top: 80px;
			font-size: $p-mobile;
			padding-bottom: 15px;
		}
	}

	.dropdown{
		flex-direction: column;
		width: 100%;
		height: 100%;
		justify-content: space-evenly;
		&-title{
			font: $h2-mobile;
		}
		&-text{
			font-size: $p-mobile;
			width: 100%;
			box-sizing: border-box;
			padding: 10px;
		}
		&-wrapper{
			width: 100%;
			justify-content: space-evenly;
			gap: 20px;
		}
		&-items-wrapper{
			flex-direction: column;
		}

		&-item{
			width: 100%;
			margin-bottom: 15px;
			&-text{
				width: 100%;
			}
		}

		&-item-image{
			width: 59.38%;
		}

	}

	.about{
		height: 100%;
		overflow: hidden;
		&-title{
			font: $h3-mobile;
			margin-bottom: 50px;
		}
		&-wrapper{
			width: 100%;
			height: 100%;
			flex-direction: column-reverse;
			justify-content: space-evenly;
			gap: 30px;
		}
		&-text{
			width: 100%;
			font-size: $p-mobile;
			box-sizing: border-box;
			padding: 10px;
		}
		&-image-container{
			width: 100%;
			height: 100%;
			margin-bottom: 40px;
		}
		&-office{
			width: 100%;
		}
	}

	.interactive-circle{
		width: 100%;
		padding-top: 20px;
		height: 100%;
		&-text{
			width: 100%;
			box-sizing: border-box;
			white-space: normal;
			padding: 10px;
		}
		&-image{
			width: 100%;
		}
		&-wrapper{
			width: 100%;
			padding-bottom: 20px;
		}
		&-inner-text{
			scale: 60%;
		}
	}

	.footer img{
		scale: 65%;
	}

	#yellow-toggle{
		top:13%;
		right: 42%;
		scale: 70%;
	}
	#gray-toggle{
		bottom: 11%;
		right: 4%;
		scale: 70%;
	}
	#red-toggle{
		bottom: 11%;
		left: 4%;
		scale: 70%;
	}

}

//Tablets
@media (min-width: 381px) and (max-width: 768px){

}
//Small screen desktops
@media (min-width: 769px) and (max-width: 1024px) {
	
}
