@import './variables';
//Reset Css
*{
  margin: 0;
	padding: 0;
	border: 0;
}

.header {
	background-image: url('/src/assets/images/header-1920.png');
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 937px;
	width: 100%;
	
	&-logo{
		margin:159.5px auto 167.5px auto;
	}

	&-text{
		text-align: center;
		&-h1{
			color: $h1-color;
			font: $h1-desktop;
		}
		&-h2{
			color: $h1-color;
			font: $h2-desktop;
			font-weight: 400;
		}
	}
}